# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# General
*.DS_Store
*.log
